<!-- Esta plantilla extiende a la base -->
{% extends "base.html" %}
<!-- Damos contenido al bloque de título -->
{% block titulo %}
Registro en el sistema
{% endblock %}
<!-- Damos contenido al bloque de contenido -->
{% block contenido %}
<!-- Se define el formulario. Ojo al action="." para que la misma vista
     reciba el formulario con los datos -->
<form action="." method="POST" class="formulario_registro">
    <!-- En mensaje se recibe un error si el usuario seleccionado ya existe -->
    {{mensaje}}
    <!-- Se carga el formulario recibido desde la vista con <p></p> para
        separar los campos -->
    {{ form.as_p }}
    <!-- Django obliga a incluir en los formularios este token para evitar ataques -->
    {% csrf_token %}
    <input type="submit" value="Quiero darme de arta" class="boton_registro">
</form>
{% endblock %}
